@font-face {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Manjari-Regular.woff') format('woff');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#city_map {
  width: 66%;
  min-height: 300px;
  max-height: 800px;
  height: 100%;
  position: absolute;

}

#block_map {
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#block_content {
    text-align: center;
}

#block_content h1, div, a {
    font-family: "Manjari";
    font-size="+4";
}
