{% extends "base.html" %}

{% block title %}
    <title>Pollux - Accueil</title>
{% endblock %}

{% block content %}
    <body background="{{ url_for('static', filename='img/menu_plus_logo.png') }}">
        <div id="content" class="relative">
            <div class="text-center main_bar">
                <a href="/map_desc/1" class="btn btn-success btn-lg" role="button">Carte des recommandations</a><br>
                <br>
                <br>
                <a href="/map_desc/2" class="btn btn-success btn-lg" role="button">Carte de contradiction</a><br>
                <br>
                <a href="/map_desc/3" class="btn btn-success btn-lg" role="button">Carte d'impact</a><br>
            </div>
            <!--
            <div id="end_partners">
                <img src="{{ url_for('static', filename='img/the_three.png') }}" alt="the_three" class="middle_width">
            </div>
            -->
        </div>
    </body>
{% endblock %}
