{% extends "base.html" %}

{% block title %}
    <title>Pollux - Accueil</title>
{% endblock %}

{% block content %}
    <body background="{{ url_for('static', filename='img/menu_vierge.png') }}">
        <div id="content">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logos.png')}}",  width="150", height="150">
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="main_bar">
                        <div class="border">
                            <div class="buttons">
                                <a class="navbar-brand" href="/map_desc/1" title="Carte des recommandations"><img src="{{ url_for('static', filename='img/button_recommandation.png') }}" alt="Bouton recommandation" width="60"> Carte des recommandations</a>
                                <br>
                                <br>
                                <a class="navbar-brand" href="/map_desc/2" title="Carte de contradiction"><img src="{{ url_for('static', filename='img/button_contradiction.png') }}" alt="Bouton contradiction" width="60"> Carte de contradiction</a>
                                <br>
                                <br>
                                <a class="navbar-brand" href="/map_desc/3" title="Carte d'impact"><img src="{{ url_for('static', filename='img/button_impact.png') }}" alt="Bouton impact" width="60"> Carte d'impact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div id="end_partners">
                <img src="{{ url_for('static', filename='img/the_three.png') }}" alt="the_three" class="middle_width">
            </div>
            -->
        </div>
    </body>
{% endblock %}
