{% extends "base.html" %}

{% block title %}
    <title>Pollux - Accueil</title>
{% endblock %}

{% block content %}
    <body background="{{ url_for('static', filename='img/menu_vierge.png') }}">
        <div id="content">
            <div class="logo relative">
                <img src="{{ url_for('static', filename='img/logos.png')}}",  width="150", height="150">
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="border">
                        <div class="main_bar">
                            <a href="/map_desc/1" role="button"><h6>Carte des recommandations</h6></a><br>
                            <br>
                            <br>
                            <a href="/map_desc/2" role="button"><h6>Carte de contradiction</h6></a><br>
                            <br>
                            <a href="/map_desc/3" role="button"><h6>Carte d'impact</h6></a><br>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div id="end_partners">
                <img src="{{ url_for('static', filename='img/the_three.png') }}" alt="the_three" class="middle_width">
            </div>
            -->
        </div>
    </body>
{% endblock %}
