{% extends "base.html" %}

{% block content %}
    <div id="content" class="with_footer">
        <div class="logo_desc">
            <!-- Button -->
            <a href="{{ button_url }}" role="button"><img src="../static/img/{{ map_data[map_id].icon }}" alt="Bouton {{ map_data[map_id].title }}" width="200">
            {% if button_url %}
                <div class="border">
                    <h5><i class="fa fa-arrow-right"></i> Accéder à la carte</h5>
                </div>
            {% endif %}
            </a>
        </div>
        <div class="map_desc text-center">
            <h2>{{ page_title }}</h2>
            <h3 class="border">{{ page_accroche }}</h3>
            <!-- Blabla -->
            {% for line in map_data[map_id].lines %}
                {% if line %}
                    <p>{{ line }}</p>
                {% else %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}