{% extends "base.html" %}

{% block content %}
    <div id="content" class="with_footer">
        <div class="logo_desc">
            <!-- Button -->
            <a href="{{ map_data[map_id].href }}" role="button"><img src="../static/img/{{ map_data[map_id].icon }}" alt="Bouton {{ map_data[map_id].title }}" width="200">
            <div class="border">
                <h5><i class="fa fa-arrow-right"></i> Accéder à la carte</h5>
            </div>
            </a>
        </div>
        <div class="map_desc text-center">
            <h2>{{ map_data[map_id].title }}</h2>
            <h3 class="border">{{ map_data[map_id].accroche }}</h3>

            <!-- Video -->
            <video width="640" height="360" controls>
                <source src="../static/{{ map_data[map_id].video }}" type=video/mp4>
            </video>

            <!-- Blabla -->
            <div id="myTxt">
                <script src="{{ url_for('static', filename='js/showMyTxt.js') }}" onload="showMyTxt({{ map_data[map_id].lines }})"></script>
            </div>
        </div>
    </div>
{% endblock %}