{% extends "base.html" %}

{% block content %}
    <div id="content" class="credits">
        <h1>{{ page_title }}</h1>
        <u><h2>Crédits</h2></u>
        <p><strong>Réalisation du site</strong> : Debruyne Thibault, Diaz Helena, Ramparany Fano</p>
        <p><strong>Graphisme et logo</strong> : Brethome Nicolas</p>
        <p><strong>Tutoriels vidéo</strong> : Lottin Pauline</p>
        <br>
        <p><strong>Textes</strong> : Pollux</p>
        <br>
        <p><strong>Hébergement</strong> : <a href="https://www.heroku.com/">Heroku</a></p>
        <br>
        <p><strong>CMS</strong> : <a href="https://getbootstrap.com/">Bootstrap</a></p>
        <br>
        <p><strong>Thème</strong> : From scratch</p>
        <br>
        <p><strong>Icônes</strong> : <a href="https://fontawesome.com/">Awesome Icon</a></p>
        <br>
        <p><strong>Cartes</strong> : <a href="https://leafletjs.com/">Leaflet</a></p>
        <br>
        <br>
        <u><h2>Données</h2></u>
        <table>
            <tr>
                {% for column_name in dict_data['columns'] %}
                    <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
            {% for lines in dict_data['lines'] %}
                <tr>
                    <td>{{ lines['name'] }}</td>
                    <td><a href="{{ lines['href'] }}">{{ lines['href_txt'] }}</a></td>
                    <td>{{ lines['licence'] }}</td>
                    <td>{{ lines['details'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
